{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}
{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<div class="container my-3 prod-dt-base">
    <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
            {% if product.image %}
            <img class="container-fluid prod-dt" src="/media/{{product.image}}" alt="">
            {% else %}
            <img class="card-img-top prod-dt" src="{% static 'images/no_image.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-lg-9">
            <h1 class="font-weight-bold">{{ product.name }}</h1>
            <h2>R$ {{ product.price }}</h2>
            <p>{{ product.description }}</p>
            <form class="form-group" action="{% url 'cart:add' product.id %}" method="post">
                <p class="form-inline">
                    {{ form.quantity.label_tag }}
                    {% render_field form.quantity class+="form-control ml-sm-3" %}
                    {{ form.override }}
                </p>
                {% csrf_token %}
                <input class="btn btn-success" type="submit" value="Adicionar ao Carrinho">
            </form>
            <p>
                Voltar para o catálogo de
                <button type="button" class="btn btn-outline-primary">
                <a class="text-decoration-none" href="{{ product.category.get_absolute_url }}">
                    {{ product.category.name }}
                </a></button>
            </p>
        </div>
    </div>
</div>


{% endblock content %}