body {
    overflow-y: overlay !important;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: #fff;    
    background-image: url("light-background.jpg");
    background-repeat: repeat;
    min-height: 1500px;
}

body.dark {
    min-height: 1500px;
    overflow-y: overlay !important;
    overflow-x: hidden;
    overflow-wrap: break-word;
    background-color: #222222; 
    background-image: url("dark-background.png");
}

body.dark p {
    color: rgb(211, 211, 211);
}

body.dark h1 {
    color: #9c9c9c;
}
body.dark h2 {
    color: #9c9c9c;
}
body.dark h3 {
    color: #9c9c9c;
}
body.dark h4 {
    color: #9c9c9c;
}
body.dark h5 {
    color: #9c9c9c;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
.active {
    background-color: #266fa0 !important;
    border-color: #1f1f1f !important;
}

.product-list-top h1 {
    padding : 100px 100px;
    background-color: #1f1f1f;
}

p { font-size: 1.2em;
    color: black;
}
h1, h2, h3, h4,h5 {
    color:#464647;
}

.op {
    background-color:rgba(0, 0, 0, 0.09);

}
section{
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;    
}
section:before {
    content:'';
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    z-index: 1000;
}
section:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1000;
}

section img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
}
#hub {
    position:relative;
    color: #fff;
    z-index:1;
}


/*navegador*/
.espaco {
    margin-right: 10px;
}

.drop {
    position: absolute;
    z-index: 2000;
}

.top-navg {
    background-color: #2f5896;
}

body.dark .top-navg{
    background-color: #202324;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: rgb(44, 44, 44);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    margin: 7px 20px;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
    border-width: 1px;
    border-color: #1f1f1f;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #fbff00;
}

.fa-sun {
	color: #f3b200;
}
/* discord card */

.text-disc {
    text-align: center;
    text-decoration: none;
}

.tdisc{
    position: relative;
    z-index: 100000;
    margin-top: -150px;
    margin-bottom: 200px;
}

.card-disc {
    display: block;
    width:70%;
    align-items: center;  
    margin-left: auto;
    margin-right: auto;
}

/* lista produtos */


.prod-dt{
    border-width: 5px;
    border-style: solid;
    border-image-slice: 1;    
    border-image-source: linear-gradient(to left, #3405b4, #c20d61);
    border-radius: 20px 0px 19px 0px;
}
.top-list {
    margin: 70px 0px;
    text-align: center;
    padding: 5px 0px
}
.price {
    color : rgb(29, 136, 2);
    text-shadow: #111;
    
}

.product-list { 
    margin-top:50px;
    border: 6px solid #4407b6;
    border-image-slice: 1;    
     border-image-source: linear-gradient(to left, #3405b4, #c20d61);
    border-radius: 10px;   
}
.lside {    
    margin-left: 40px
}

/*cards*/
.card-dt {
    font-size: 1.1em;
    color : #464646;
}

.cards {
    width: 100%;
    padding: 5px 20px;
}

.ptop {
    margin-top: -100px;
}

/* footer */

.li{
    color:#fff;
}

/* blog */
.heart{
    color: #ca3e3e;
    
}

.titlep {
    text-align: center;
    font-size: 1.5em;
    text-decoration:none;
    color : #210699;
}

.post{
    width:66%;
    border-radius: 10px;
    background-color: #ffffff33;
    padding: 12px 18px;
    margin: 25px 25px;   
}
.post-detail{
    width:66%;
    border-radius: 15px;
    background-color: #d1d1d14f;
    border: #111;
    padding: 10px 10px;
    margin: 25px 25px;  

}
.post-list{
    border-radius: 15px;
    background-color: #d1d1d14f;
    border: #111;
    padding: 10px 10px;
    margin: 25px 25px;   
}

.post-img {
    width: 100%;
    max-width: 100% ;
    border-radius: 7px;
}

.date {
    color: rgb(75, 75, 75);
    font-size: 0.9em;
}


/* accounts */

.aclog {
    position:absolute;
    top:200px;
    left:250px;
    text-align: center;
    padding:35px 20px;
    width:50%;
    align-items:center ;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;    
    box-shadow: 10px 5px 15px rgba(29, 29, 29, 0.479);
}

