{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="post-detail">
    <div class="col-10">
    <div>
    <h2>{{ post.title }}</h2>
    </div>
    <div class="post-img container">            
        {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-img" alt="{{ post.title }}">                            
                    {% else %}
                    <img src="{% static 'images/no_image.jpg' %}" class="post-img" alt="Post">
                    {% endif %}
    </div>                           
    <p class="date">
        Publicado em {{ post.created }} por {{ post.author }}  
        <i class="fas heart fa-heart"></i> {{ post.favorite }}
    </p>
    {{ post.body|linebreaks }}
</div>
</div>

{% for comment in post.comment_set.all %}
<div class="cpub">    
    <h2 class="ctitle">Comentários:</h2>
    <div class="ccom">    
    <div>
        <h5>
            {{ comment.author }} comentou : 
        </h5>
        <p>
            {{ comment.body }}
        </p>
        
        <p class="date">
            Comentário feito em {{ comment.created }} por {{ comment.author }}
        </p>
    </div>    
</div>    
</div>
{% endfor %} 
{% endblock %}