{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="post-detail">
    <div class="col-12">
    <div>
    <h2 class="ptitle">{{ post.title }}</h2>
    </div>
    <div class="post-img container">            
        {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-img" alt="{{ post.title }}">                            
                    {% else %}
                    <img src="{% static 'images/no_image.jpg' %}" class="post-img" alt="Post">
                    {% endif %}
    </div>                           
    <p class="date">
        Publicado em {{ post.created }} por {{ post.author }}       
    </p>    
    {{ post.body|linebreaks }}
    <form action="{% url 'blog:favorite' %}" method="POST" >
        {% csrf_token %}
        <input type="hidden" name='post_id' value="{{ post.id }}">
        {% if user not in post.favorite.all %}
        
        <button class="btn btn-outline-danger" type="submit"> 
            <svg class="ico-heart" width="54" height="54" viewBox="0 0 24 24">
                <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
            </svg></button> 
        {% else %}
            <button class="btn btn-outline-danger" type="submit"> 
                <svg class="ico-heart liked" width="54" height="54" viewBox="0 0 24 24">
                    <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                </svg></button>
        {% endif %}
    </form> 
    <p>{{ post.favorite.all.count }} Favoritos</p>
    <div class="btn-group espaco">

        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comente
        </button>
        <div class="dropdown-menu drop">   
          <a class="dropdown-item" >
              {% if user.is_authenticated %}     
            <form  method="POST">
                {{ comment_form }} 
                {% csrf_token %}
                <button value="submit" class="btn btn-success">Enviar</button>
            </form>
            {% else %}
            <p class="warning">Você precisa estar logado para comentar aqui</p>
            {% endif %}
        </a>  
        </div>
      </div>   
    
</div>
</div>


<!--Comentarios-->
{% if post.comment_set.all %}

<div id = "comments" class="container">
	<div class="row">
        <h2 class="ctitle"> {{ post.comment_number }} Comentários:</h2>
		<div class="MultiCarousel" data-items="1,3" data-slide="1"
         id="MultiCarousel"  data-interval="10">
            <div class="MultiCarousel-inner">                
        {% for comment in post.comment_set.all %}
                <div class="item" >
                    <div class="pad15">
                        <p class="lead">{{ comment.author }} comentou : </p>
                        <p class="comlead"> " {{ comment.body }} "</p>
                        <p class="lead">Comentário feito em {{ comment.created }}</p>                        
                    </div>
                </div>                
    {% endfor %} 
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst"">></button>
        </div>
	</div>
</div>
{% endif %}


{% block script %}
<script src="{% static 'js/boot-slider.js' %}"></script>
{% endblock script %}
{% endblock %}