{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
    {% for post in post_list %}
    <div class="post">
        <article class= "container col-9">
            <div class="titlep">
            <h2>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}  <i class="far fa-heart mr-1 heart"></i>{{ post.favorite }}
                </a>
            </h2>
            </div>
            <img class="card-img-top post-img" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
            {% if users.perfilUser %}
                        <img src="{{ user.perfilUser.url }}" class="align-self-center" alt="Post"
                            style="width: 18rem; border-radius: 220px;">
                        {% else %}
                        <img src="{% static 'img/no_image.jpg' %}" class="" alt="Post"
                            style="width: 18rem; border-radius: 220px;">
                        {% endif %}
            <div>
                {{ post.image }}
            </div>
            <p class="date">
                Publicado em {{ post.created }} por {{ post.author }}
            </p>
            {{ post.body|linebreaks|truncatewords:40 }}
        </article>
    </div>
    {% endfor %}
{% endblock %}