{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
    {% for post in post_list %}
    <div class="post">
        <article class= "">
            <div class="titlep">
            <h2 class = "titlep">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}  <i class="fas heart fa-heart"></i> {{ post.favorite }}
                </a>
            </h2>
            </div>
            <a href="{{ post.get_absolute_url }}">   
            <div class="post-img container">            
            {% if post.image %}
                        <img src="{{ post.image.url }}" class="post-img" alt="{{ post.title }}">                            
                        {% else %}
                        <img src="{% static 'images/no_image.jpg' %}" class="post-img" alt="Post">
                        {% endif %}
            </div>
            </a>
            <p class="date">
                Publicado em {{ post.created }} por {{ post.author }}
            </p>
            {{ post.body|linebreaks|truncatewords:15 }}
        </article>
    </div>
    {% endfor %}
{% endblock %}