{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 align="center" class="font-weight-bold">Sobre nós</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, totam iure numquam quaerat amet, officiis
        accusantium dolor assumenda dolores esse dignissimos voluptatem. Commodi laborum non minima dolor illum
        reiciendis est.Temporibus delectus quam odit voluptatibus debitis nesciunt optio voluptates ut inventore porro
        perferendis, quidem magnam repellat quo ratione, quos quod? Nesciunt, in quidem. Necessitatibus sapiente ad iure
        impedit quod cumque?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laborum nam aliquid nostrum a omnis temporibus
        deserunt fugit similique quod? Aliquam, eius quos quam laudantium ea deserunt consectetur magnam
        soluta.Accusamus enim fugit voluptatem, quasi, labore tempora adipisci magni ea voluptatum culpa recusandae qui
        reiciendis maiores ratione animi velit corrupti sequi ab eum placeat. Voluptatem quaerat nesciunt reiciendis
        aperiam vero.
    </p>
</div>

{% endblock content %}