{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  
<!-- Banner -->
<div class="d-block w-100">
  <section>
    <img src="{% static 'images/hero/night.png' %}" id="night"> 
    <img src="{% static 'images/hero/lua.png' %}" id="lua">         
    <img src="{% static 'images/hero/hub.png' %}" id="hub">            
    <img src="{% static 'images/hero/git.png' %}" id="git">       
    <img src="{% static 'images/hero/montanhas.png' %}" id="montanhas">   
    <img style="z-index:200000 "src="{% static 'images/hero/forest.png' %}" id="forest">  
  </section>
  <script type="text/javascript">
  let night = document.getElementById("night")
  let lua = document.getElementById("lua")
  let hub = document.getElementById("hub")
  let montanhas = document.getElementById("montanhas")
  let forest = document.getElementById("forest")
  let git = document.getElementById("git")  

  window.addEventListener('scroll', function(){
    var value = window.scrollY;

    hub.style.top = value * 0.4 + 'px';
    night.style.top = value * -1.6 + 'px';    
    montanhas.style.top = value * -(0.6) + 'px';    
    lua.style.left = value * -0.6 + 'px';
    forest.style.top = value * -(0.45) + 'px';     
    git.style.top = value * 0.5 + 'px'; 
    disc.style.top = value * 0.05 + 'px'; 
  })
  
  </script>


<div class="container tdisc">
  <a href="https://discord.gg/Xg6FcXGp7x">
  <h2 class="text-disc"> Venha conhecer nosso servidor</h2>
  <img class="card-disc" src="{% static 'images/discord-logo.png' %}" alt="Discord">
  </a>
</div>


<!-- seção produtos teste -->
<div class="ptop">
<div class="text-center">
  <p class="text-uppercase mb-1">Saiba sobre o que estão falando hoje :</p>
  <h1 class="h5 text-uppercase mb-4">Principais publicações !</h2>
</div>
<div class="d-flex w-100">
  <div class="row">
  <div class="col-sm">
  <div class="card op cards">       
  <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
  <div class="card-body ">
    <h5 class="card-title">Post 1</h5>
    <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
  </div>  
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Link do card</button>
    <button type="button" class="btn btn-secondary">Outro link</button>
  </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="card op cards">
        <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Post 2</h5>
          <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Link do card</button>
          <button type="button" class="btn btn-secondary">Outro link</button>
        </div>
      </div>
    </div>
    <div class="col-sm ">
      <div class="card op cards" >
        <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Post 3</h5>
          <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Link do card</button>
          <button type="button" class="btn btn-secondary">Outro link</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container my-3">
    <h1 align="center" class="font-weight-bold">Sobre o hub</h1>
    <p>
      A busca pelo conhecimento é nosso âmago; contemplamos a aurora da busca do saber,
       é o alvor de um mundo crítico, estão presentes prodigiosos, acadêmicos e iniciantes
        na odisseia do conhecer, tendo em vista que compartilham o mesmo particípio solene:
        o lampejo da amizade pela sabedoria. A dialética neste servidor goza da diferença
        nas opiniões, principalmente nos debates e na política, que asseguramos sempre o
        respeito e a educação. Sobretudo, o que mais podemos dizer é que no HCF, temos
        rigor em priorização da ética e dos bons costumes, todo conhecimento será 
        partilhado com gentileza. Cada pensamento, cada reflexão ilustra uma arte,
        que representa todo nosso apreço, devido a isso, estão todos convidados, do 
        que estão esperando? Afinal, este servidor é o reflexo do que os amantes das
        ciências e filosofias sempre quiseram para esta plataforma. Este servidor 
        jaz-te, junte-se ao dilúculo da criticidade!
    </p>
    
</div>


</body>

<footer class="bg-dark text-white">
    <div class="container py-4">
      <div class="row py-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3 h5">Serviços de consumidores</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="#">Ajuda &amp; Nos contate</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Loja online</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Temos &amp; Condições</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3 h5">Companhia</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="#">O que nós fazemos</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Últimas Publicações</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Fale conosco</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase mb-3 h5">Midias sociais</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="https://discord.gg/Xg6FcXGp7x">Discord <i class="fab fa-discord" style="font-size: 1.5em"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://twitter.com/hub_scientific">Twitter <i class="fab fa-twitter" style="font-size: 1.5em"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://www.instagram.com/hub.sciphi/">Instagram <i class="fab fa-instagram" style="font-size: 1.5em"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://github.com/Chuckpy">Github  <i class="fab fa-github" style="font-size: 1.5em"></i></a></li> 
          </ul>
        </div>
      </div>
      <div class="border-top pt-4" style="border-color: #1d1d1d !important">
        <div class="row">
          <div class="col-lg-6">
            <p class="small text-muted mb-0">&copy; 2121 Todos os direitos reservados.</p>
          </div>
          <div class="col-lg-6 text-lg-right">
            <p class="small text-muted mb-0">Template criado em <a href="https://getbootstrap.com/">bootstrap</a> por <a class="text-white reset-anchor" href="https://github.com/Chuckpy">Marcus Vinicius</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock content %}