{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  
<div class="d-block w-100">
  <section>
    <img src="{% static 'images/hero/night.png' %}" id="night"> 
    <img src="{% static 'images/hero/lua.png' %}" id="lua">         
    <img src="{% static 'images/hero/hub.png' %}" id="hub">            
    <img src="{% static 'images/hero/git.png' %}" id="git">       
    <img src="{% static 'images/hero/montanhas.png' %}" id="montanhas">       
    <img src="{% static 'images/hero/disc.png' %}" id="disc">   
    <img style="z-index:2 "src="{% static 'images/hero/forest.png' %}" id="forest">  
  </section>
  <script type="text/javascript">
  let night = document.getElementById("night")
  let lua = document.getElementById("lua")
  let hub = document.getElementById("hub")
  let montanhas = document.getElementById("montanhas")
  let forest = document.getElementById("forest")
  let git = document.getElementById("git")  
  let disc = document.getElementById("disc")

  window.addEventListener('scroll', function(){
    var value = window.scrollY;

    hub.style.top = value * 0.46 + 'px';
    night.style.top = value * -(0.9) + 'px';    
    montanhas.style.top = value * -(0.55) + 'px';    
    lua.style.left = value * -0.3 + 'px';
    forest.style.top = value * -(0.4) + 'px';     
    git.style.left = value * 1 + 'px'; 
    disc.style.left = value * 1.5 + 'px'; 
  })
  
  </script>
</div>


<!-- seção produtos teste -->
<div class="ptop">
<div class="text-center">
  <p class="text-uppercase mb-1">Saiba sobre o que estão falando hoje</p>
  <h1 class="h5 text-uppercase mb-4">Navegue facilmente sobre as categorias</h2>
</div>
<div class="d-flex w-100">
  <div class="row">
  <div class="col-sm">
  <div class="card op cards">       
  <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
  <div class="card-body ">
    <h5 class="card-title">Produto 1</h5>
    <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
  </div>  
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Link do card</button>
    <button type="button" class="btn btn-secondary">Outro link</button>
  </div>
  </div>
    </div>
    <div class="col-sm">
      <div class="card op cards">
        <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Produto 2</h5>
          <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Link do card</button>
          <button type="button" class="btn btn-secondary">Outro link</button>
        </div>
      </div>
    </div>
    <div class="col-sm ">
      <div class="card op cards" >
        <img class="card-img-top" src="{% static 'images/hero.jpg' %}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Produto 3</h5>
          <p class="card-text card-dt">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary">Link do card</button>
          <button type="button" class="btn btn-secondary">Outro link</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container my-3">
    <h1 align="center" class="font-weight-bold">Loja Virtual</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur autem beatae saepe at nulla accusamus,
        mollitia quibusdam laborum, voluptatem corporis molestiae ipsa, id quasi distinctio deserunt et. Ipsam, dolorem
        quidem.Itaque, magnam explicabo! Corrupti eos optio repellat debitis omnis voluptates laudantium fuga dolore
        incidunt autem. Veritatis harum sunt eveniet sequi, impedit quaerat modi assumenda recusandae molestias adipisci
        laborum cumque ad.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non porro temporibus, unde pariatur sit
        doloremque molestiae fugit, nostrum, atque beatae praesentium vero deserunt aspernatur cumque culpa reiciendis
        corrupti dolores!Illum ratione enim repellendus quas? Inventore at aut aliquid minus pariatur facilis id
        adipisci consequuntur soluta doloremque. Sit quae quisquam quis molestiae similique esse natus atque saepe rem
        placeat? Nostrum?
    </p>
</div>

<p align="center">
    <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link com referência
    </a>    
</p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body op">
      <div class="card-element">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non porro temporibus, unde pariatur sit
        doloremque molestiae fugit, nostrum, atque beatae praesentium vero deserunt aspernatur cumque culpa reiciendis
        corrupti dolores!Illum ratione enim repellendus quas? Inventore at aut aliquid minus pariatur facilis id
        adipisci consequuntur soluta doloremque. Sit quae quisquam quis molestiae similique esse natus atque saepe rem
        placeat? Nostrum?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid non porro temporibus, unde pariatur sit
      doloremque molestiae fugit, nostrum, atque beatae praesentium vero deserunt aspernatur cumque culpa reiciendis
      corrupti dolores!Illum ratione enim repellendus quas? Inventore at aut aliquid minus pariatur facilis id
      adipisci consequuntur soluta doloremque. Sit quae quisquam quis molestiae similique esse natus atque saepe rem
      placeat? Nostrum?
    </p>
    </div>
    </div>
</div>
</body>

<footer class="bg-dark text-white">
    <div class="container py-4">
      <div class="row py-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3 h5">Serviços de consumidores</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="#">Ajuda &amp; Nos contate</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Loja online</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Temos &amp; Condições</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h6 class="text-uppercase mb-3 h5">Companhia</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="#">O que nós fazemos</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Últimas Publicações</a></li>
            <li><a class="text-decoration-none footer-link li h6" href="#">Fale conosco</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h6 class="text-uppercase mb-3 h5">Midias sociais</h6>
          <ul class="list-unstyled mb-0">
            <li><a class="text-decoration-none footer-link li h6" href="https://discord.gg/Xg6FcXGp7x">Discord <i class="fab fa-discord"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://www.instagram.com/hub.sciphi/">Twitter <i class="fab fa-twitter"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://twitter.com/hub_scientific">Instagram <i class="fab fa-instagram"></i></a></li>
            <li><a class="text-decoration-none footer-link li h6" href="https://github.com/Chuckpy">Github  <i class="fab fa-github"></i></a></li> 
          </ul>
        </div>
      </div>
      <div class="border-top pt-4" style="border-color: #1d1d1d !important">
        <div class="row">
          <div class="col-lg-6">
            <p class="small text-muted mb-0">&copy; 2121 Todos os direitos reservados.</p>
          </div>
          <div class="col-lg-6 text-lg-right">
            <p class="small text-muted mb-0">Template criado em <a href="https://getbootstrap.com/">bootstrap</a> por <a class="text-white reset-anchor" href="https://github.com/Chuckpy">Marcus Vinicius</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock content %}